In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cross_validation import train_test_split

C:\Users\gcara\AppData\Roaming\Python\Python36\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [27]:
dataset = pd.read_csv('./dataset.csv')

In [28]:
#dataset.drop(['SRC', 'TGT','TXT'], axis=1,inplace=True)

In [29]:
#dataset.to_csv('./dataset.csv')

In [30]:
dataset[0:10]

   Unnamed: 0  VOT  numWords  SCRIND  SCROUTD  TGTIND  TGTOUTD
0           0    1        13      47      188     148       72
1           1    1        50      96        4     180      222
2           2    1        17       0       99     286      143
3           3    1         3      97      260      18       22
4           4    1         4      80      431     262      110
5           5    1         8       0        2      94        0
6           6    1         6       0       21     286       33
7           7    1        18     102      109      53       10
8           8    0       122       0        1     124       10
9           9    1        87      54       25      85       51

In [33]:
dataset.drop(dataset.columns[0], axis=1, inplace=True)

In [34]:
dataset[0:10]

   VOT  numWords  SCRIND  SCROUTD  TGTIND  TGTOUTD
0    1        13      47      188     148       72
1    1        50      96        4     180      222
2    1        17       0       99     286      143
3    1         3      97      260      18       22
4    1         4      80      431     262      110
5    1         8       0        2      94        0
6    1         6       0       21     286       33
7    1        18     102      109      53       10
8    0       122       0        1     124       10
9    1        87      54       25      85       51

In [36]:
dataset = dataset.reindex_axis(['VOT','SCRIND','SCROUTD','TGTIND','TGTOUTD','numWords'], axis=1)

D:\sw\anaconda\envs\fastai\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.

In [38]:
dataset[0:10]

   VOT  SCRIND  SCROUTD  TGTIND  TGTOUTD  numWords
0    1      47      188     148       72        13
1    1      96        4     180      222        50
2    1       0       99     286      143        17
3    1      97      260      18       22         3
4    1      80      431     262      110         4
5    1       0        2      94        0         8
6    1       0       21     286       33         6
7    1     102      109      53       10        18
8    0       0        1     124       10       122
9    1      54       25      85       51        87

Define x and y for training

In [39]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 5].values

In [42]:
X

array([[  1,  47, 188, 148,  72],
       [  1,  96,   4, 180, 222],
       [  1,   0,  99, 286, 143],
       ...,
       [  1,  89,  45,  55,  85],
       [  1,  69, 160, 126,  66],
       [  1, 356, 144, 181, 129]], dtype=int64)